@import url("root.css");

* {
	margin: 0;
	padding: 0;
}


html {
	scroll-behavior: smooth;
	min-width: 100vw;
	font-family: eng-sans-serif, sans-serif;
}
html:lang(zh-CN) {
	font-family: zh-sans-serif, sans-serif;
}
html:lang(zh-TW) {
	font-family: zh-sans-serif, sans-serif;
}
html:lang(ja) {
	font-family: jp-sans-serif, sans-serif;
}

body {
	z-index: var(--index-base);
	background-color: var(--html-bg-color);
}
