.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 5vw 100px;
    border-top: 10px solid var(--white-fade-out-border);
}

.main-content__personal-info {
    width: 100%;
}

.main-content__personal-info__avatar {
    width: 170px;
    height: 150px;
    border-radius: 20px;
}

.contact-methods {
    font-family: monospace;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    transform: translate(95%, -200%) scale(0);
    width: 50vw;
    max-width: 767px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.25, 1, 1, 1);
    z-index: 9999;
}

.contact-methods h2 {
    margin: 0;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid var(--white-fade-out-border);
    text-align: center;
}

.contact-methods ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: var(--white-fade-out-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 85%;
}

.contact-methods li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-fade-out-bg);
    transition: all 0.25s cubic-bezier(0.25, 1, 1, 1);
}

.contact-methods li:hover {
    color: var(--accent-primary);
}
.contact-methods.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(125%);
}