@import url("./root.css");



.body_header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--header-background-color);
	filter: blur();
	backdrop-filter: blur(5px);
	border-bottom: 1px solid var(--border-color-secondary);
}

.body_header_anchor {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.body_header_logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.body_header_title {
	color: var(--text-color-primary);
	font-size: 1.5rem;
	font-weight: bold;
}

.body_header_menu_login-button {
	margin-left: auto;
	padding: 8px 16px;
	font-size: 0.75rem;
	background-color: transparent;
	color: var(--text-color-primary);
	border: 1px solid var(--border-color-primary);
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.body_header_menu_login-button:hover {
	background-color: var(--border-color-primary);
	color: var(--text-anchor-color);
}





.body_footer {
	margin-top: 40px;
	padding: 20px;
	padding-bottom: 120px;
	background-color: var(--footer-background-color);
	border-top: 1px solid var(--border-color-secondary);
	text-align: center;
	color: var(--text-color-primary);
	font-size: 0.875rem;
}

.body_footer_text {
	margin: 5px 0;
	color: var(--general-text-color);
	font-size: 0.75rem;
}

.body_footer_link {
	color: var(--text-anchor-color);
}


main {
	display: flex;
	min-height: 95vh;
}

.info {
	display: flex;
	flex-direction: column;
	width: clamp(250px, 17.5vw, 300px);
	margin-top: 10vh;
	margin-bottom: 50vh;
	margin-left: 1vw;
	background-color: var(--info-background-color);
	border-top: 2px solid var(--border-color-primary);
	border-radius: 15px;
	color: var(--text-color-primary);
	font-size: 0.875rem;
	filter: blur() drop-shadow(4px 4px 4px #000000);
	backdrop-filter: blur(5px);
}

.info_avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 5px;
}

.info_avatar_name {
	font-size: 22px;
	text-transform: uppercase;
}

.info_avatar img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.info_section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px;
}

.info_section > hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.info_section_text {
	font-size: 0.75rem;
	text-align: left;
	margin: 5px 0;
}

/* .info_code {
	width: 17.5vw;
} */